{% extends "base_generic.html" %}

{% block content %}

{% if error_message %}
<p> {{error_message}} </p>
{% elif success_message %}
<p> {{success_message}} </p>
{% endif %}

<p> Hi {{user.get_full_name}}.
  {% if res %}
  See your reservations below.
  {% else %}
  You haven't made any reservations.
  {% endif %}
</p>
<form action="{% url 'reservation:update' %}" method="post">
  {% csrf_token %}
  <table class="reservation-menu">
    {% for r in res %}
    {# r -> (`num_menus`, `res_datetime`, `space_name`, `id`) #}
    <tr>
      <td>
	<input type="checkbox" name="{{r.3}}" hidden />
	Reservation for {{r.0}} in the {{r.2}} on {{r.1}}
      </td>
      <td class="edit" hidden>
	<input type="datetime-local"
	       name="new-datetime{{r.3}}"
	       value="{{r.1}}"
	/>
      </td>
      <td>
	<input class="edit"
	       type="number"
	       name="new-num-menus{{r.3}}"
	       min="1"
	       max="20"
	       value="{{r.0}}"
	       hidden />
      </td>
    </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Edit" />
  <input class="edit" type="submit" value="Update" hidden />
  <input class="edit"
	 type="submit"
	 value="Cancel reservation(s)"
	 formaction="{% url 'reservation:cancel' %}"
	 hidden
  />
</form>

<script>
 $(document).ready(function() {
     $('input[value="Edit"]').click((e) => {
	 e.preventDefault();
	 toggle_hidden();
     });
 });

 function toggle_hidden() {
     const reservations = document.querySelectorAll(
	 '.reservation-menu input[type="checkbox"]'
     );
     const edit_fields = document.querySelectorAll('.edit');

     if (reservations[0].hasAttribute("hidden")) {
	 reservations.forEach((node) => { node.removeAttribute("hidden") });
	 edit_fields.forEach((node) => { node.removeAttribute("hidden") });
	 
     } else {
	 reservations.forEach((node) => { node.setAttribute("hidden", "") });
	 edit_fields.forEach((node) => { node.setAttribute("hidden", "") });
     }
 }
</script>
{% endblock %}
