{% extends "base_generic.html" %}

{% block content %}

<h4 class="page-content">
  Hi {{user.get_full_name}}.
  {% if res %}
  See your reservations below.
  {% else %}
  You haven't made any reservations.
  {% endif %}
</h4>

<form action="{% url 'reservation:update' %}" method="post">
  {% csrf_token %}
  <div class="flex-container">
    {% for r in res %}
    {# r -> (`num_menus`, `res_datetime`, `space_name`, `id`) #}
    <div class="grid-container">
      <div>
	<input class="col-1" type="checkbox" name="{{r.3}}" hidden />
      </div>
      <div class="col-2 res-msg"
	   style="width: 100%"
	   data-customer="{{r.0}}"
	   data-datetime="{{r.1}}"
	   data-space="{{r.2}}"
      >
	<!-- Reservation for {{r.0}} in the {{r.2}} on {{r.1}} -->
      </div>
      <div>
	<input class="col-3 edit"
	       type="datetime-local"
	       name="new-datetime{{r.3}}"
	       value="{{r.1}}"
	       hidden
	/>
      </div>
      <div>
	<input class="col-4 edit"
	       type="number"
	       name="new-num-menus{{r.3}}"
	       min="1"
	       max="20"
	       value="{{r.0}}"
	       hidden
	/>
      </div>
    </div>
    {% endfor %}
    <div class="grid-container">
      <div></div>
      <div class="footer">
	<input type="submit" value="Edit" />
	<input class="edit" type="submit" value="Update" hidden />
	<input class="edit"
	       type="submit"
	       value="Cancel reservation(s)"
	       formaction="{% url 'reservation:cancel' %}"
	       hidden
	/>
      </div>
    </div>
  </div>
</form>

{% if error_message %}
<p class="page-content"> {{error_message}} </p>
{% elif success_message %}
<p class="page-content"> {{success_message}} </p>
{% endif %}

<script>
 $(document).ready(function() {

     $('.res-msg').each(function() {
	 let customer = this.dataset.customer;
	 let datetime = this.dataset.datetime;
	 let space = this.dataset.space;

	 datetime = moment(datetime).format('MMMM Do YYYY, [at] h:mm:ss a');
	 space = space.replace(/_/, ' ').toLowerCase();
	 this.textContent = `Reservation for ${customer} in `
			+ `the ${space} on ${datetime}.`
     });

     // ################ LISTENERS ################
     $('input[value="Edit"]').click((e) => {
	 e.preventDefault();
	 toggle_hidden();
     });
     // ###########################################
 });

 function toggle_hidden() {
     const reservations = Array.from(document.querySelectorAll(
	 'input[type="checkbox"]'
     ));
     const pickers = Array.from(document.querySelectorAll('.edit'));
     const toggle = [...reservations, ...pickers];

     if (reservations[0].hasAttribute("hidden")) {
	 toggle.forEach((node) => { node.removeAttribute("hidden") });
     } else {
	 toggle.forEach((node) => { node.setAttribute("hidden", "") });
     }
 }
</script>
{% endblock %}
