<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title> Restaurant Reservations </title>{% endblock %}
    <meta charset="utf-8">
    <!-- Add additional CSS in static file -->
	{% include 'css.html' %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
		<div class="col-sm-2">
		  {% block sidebar %}
          <ul class="sidebar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="">Restaurants</a></li>
			{% if user.is_authenticated %}
            <li>
			  <a href="{% url 'reservation:reservations' %}">
				Reservations
			  </a>
			</li>
			{% endif %}
			{% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Log out</a></li>
			{% else %}
			<li><a href="{% url 'login' %}">Log in</a></li>
			{% endif %}
          </ul>
		  {% endblock %}
		</div>
		<div class="col-sm-10">{% block content %}{% endblock %}</div>
      </div>
    </div>
	{% include 'js.html' %}
  </body>
</html>
